body {
  margin: 0;
  padding: 0;
  background-color: rgb(19, 18, 19);
  color: white;
}

.task-input {
  width: 100%;
  padding: 20px 20px;
  margin: 10% 0;
  display: flex;
  box-sizing: border-box;
  background-color: salmon;
}

.task-input input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
}

.task-input button {
  margin-left: 5px;
  padding: 10px 20px;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  background-color: rgb(104, 46, 104);
  color: white;
  cursor: pointer;

}

.display-section {
  width: 100%;
  padding: 20px 20px;
  margin: 10% 0;
  display: flex;
  box-sizing: border-box;
  background-color: rgb(19, 18, 19);
  
}


Ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20PX;
  
  
  
}

ul li {
 
  border-bottom: 1px solid white;
  width: 100%;
  padding: 10px;


}
 ul li span {
  
  display: inline-block;
  place-items: center;
  padding: 10px;
  font-size: 12px;
  font-family: cursive;
  box-sizing: border-box;
  color: white;

}

ul li button {
  
  padding: 10px;
  float: right;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  background-color: rgb(104, 46, 104);
  color: white;
  cursor: pointer;
  font-size: 10px;
}



